<!-- index.js for the main home page -->
<% include partials/header.ejs %>

  <h1>
    <center>
      <%= title %>
        </div>
    </center>
  </h1>

  <main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-10 px-0">
        <h1 class="display-4 fst-italic">Welcome to the website of Rushin Barvadia</h1>
        <div class="row">
          <div class="col-6">
            <figure class="figure">
              <img src="/images/Welcome.jpg" class="figure-img img-fluid rounded"
                alt="A generic square placeholder image with rounded corners in a figure.">
            </figure>
          </div>
          <div class="col-6">
            <figure class="figure">
              <img src="/images/Information_Technology.jpg" class="figure-img img-fluid rounded"
                alt="A generic square placeholder image with rounded corners in a figure.">
            </figure>
          </div>
        </div>
        <p class="lead my-3">As you Scroll across the enitre webpage for for more information you
          will continue to the navigation bar and you will find various things about me. The main objective of
          this page is to know more about me and what works i did and information for contacting
          for further details. In the below link you will get more information on what my
          skills are and the like to my resume will aslo be attached here</p>
        <a class="btn btn-primary" href="/aboutme" role="button">About Me</a>
      </div>
    </div>
    </div>
    </div>
  </main>
  <% include partials/footer.ejs %>