<% include partials/header.ejs %>
    <div class="container">

        <h1>
            <%= title %>
        </h1>
        <p>Welcome To <%= title %> page
        </p>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-image">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td class="w-25">
                                    <img src="images/dection_image_road.png" class="img-fluid img-thumbnail"
                                        alt="image">
                                </td>
                                <td>Image Detection using Python programming, opencv, & tensorflow to futher create
                                    models that will tranfor the data into the reqired bouding box for the image and
                                    videos</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td class="w-25">
                                    <img src="images/Image_collection.jpg" class="img-fluid img-thumbnail"
                                        alt="Image_collection">
                                </td>
                                <td>using machince learning to create model that can be used in variors enviroments</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td class="w-25">
                                    <img src="images/programming_languages.jpg" class="img-fluid img-thumbnail"
                                        alt="Programming_languages">
                                </td>
                                <td>Some of the skills and languages i know are c,c++, java, javascript, python,
                                    Artficial Intelligence,Computer vision and other technical knowledge </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <% include partials/footer.ejs %>